@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

:root {
  --color-background: #fafaea;
  --color-foreground: #3f3f3f;
  --color-dot: hsl(230, 4%, 84%);
  --color-cyan: #2580a7;

  --dot-size: 1.5rem;
}

::selection {
  color: var(--color-background);
  background-color: var(--color-cyan);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  color: var(--color-foreground);
  background-color: var(--color-background);
  font-size: 16px;
}

body {
  font-family: "Montserrat", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;

  background-image: radial-gradient(
    var(--color-dot) 5%,
    var(--color-background) 7%
  );
  background-size: var(--dot-size) var(--dot-size);
  background-position: center top;

  overflow: hidden;
}

a {
  color: var(--color-foreground);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  padding: 1rem 2rem;
  align-items: stretch;
}

h1 {
  font-size: 1rem;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 0.9;
}

header a {
  font-size: 80%;
}

section {
  font-family: serif;
  flex-grow: 1;
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 12%;

  flex-direction: column;
}
